.container{
    display: flex;
    justify-content: center;
    width: 65%;
}
canvas{
    display: block !important;
    height: 92%!important;
    width: 92% !important;
}

@media(max-width: 770px){
    .container{
        width: 100%
    }
}