.container{
    margin: 30px 0;
    
}
.card{
    margin:  2% !important;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.8), 0px 1px 1px 0px rgba(0,0,0,0.4), 0px 1px 3px 0px rgba(0,0,0,0.3) !important;

}
.MuiPaper-elevation1 {
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.8), 0px 1px 1px 0px rgba(0,0,0,0.4), 0px 1px 3px 0px rgba(0,0,0,0.3) !important;
}
.infected{
    border-bottom: 10px solid rgba(0, 0, 255, .5)
}

.recovered{
    border-bottom: 10px solid rgba(0, 255,0, .5)
}
.deaths{
    border-bottom: 10px solid rgba(255,0, 0, .5)
}
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 8px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.8), 0px 1px 1px 0px rgba(0,0,0,0.4), 0px 1px 3px 0px rgba(0,0,0,0.3) !important;
}
