body {
    font-family: Arial;
    text-align: center;
  }


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.footer{
  text-align: center;
    padding: 1rem;
    background: #0c0d0d;
    height: 60px;
    width: 100%;
    text-decoration: none !important;
    color: aliceblue !important;
}
a{
  text-decoration: none !important;
  color: aliceblue !important;
}
@media(max-width:520px){
  .image{
    width: 80%
  }
  .footer{
    display: grid;
  }
}
